{% extends 'base.html' %}

{% block main %}
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">فرم زیر را تکمیل کنید و ورود بزنید</p>
        <div class="input-group mb-3">
          <input type="tel" class="form-control" name="phone" id="phone" placeholder="شماره موبایل" maxlength="11" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
          {% comment %} <input type="tel" class="form-control" placeholder="شماره موبایل"> {% endcomment %}
          <div class="input-group-append">
            <span class="fa fa-phone input-group-text"></span>
          </div>
        </div>
        {% csrf_token %}
        <div class="input-group mb-3" id="verifCode" style="display:none;">
          <div class="row">
            <div class="col-12">
            
              <div class='container'>
                <h1 class='timer' data-minutes-left=0.5></h1>
                <section class='actions'></section>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <input type="tel" class="form-control" name="validCode4" id="validCode4" maxlength="1" oninput="this.value=this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
            </div>
            <div class="col-1"></div>
            <div class="col-2">
              <input type="tel" class="form-control" name="validCode3" id="validCode3" maxlength="1" oninput="this.value=this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
            </div>
            <div class="col-1"></div>
            <div class="col-2">
              <input type="tel" class="form-control" name="validCode2" id="validCode2" maxlength="1" oninput="this.value=this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
            </div>
            <div class="col-1"></div>
            <div class="col-2">
              <input type="tel" class="form-control" name="validCode1" id="validCode1" maxlength="1" oninput="this.value=this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
            </div>
            <div class="col-2"></div>
          </div>
          <div class="input-group-append">
            {% comment %} <span class="fa fa-lock input-group-text"></span> {% endcomment %}
          </div>
        </div>
        <div class="row" id="buttonRow">
          <div class="col-1"></div>
          <!-- /.col -->
          <div class="col-10" id="mainBtn">
            <button type="submit" id="sendCode" class="btn btn-primary btn-block btn-flat">ارسال کد</button>
          </div>
          <div class="col-4" id="resendBtn" style="display: none;">
            <button type="submit" id="sendCode" class="btn btn-primary btn-block btn-flat">ارسال مجدد</button>
          </div>
          <!-- /.col -->
        </div>
      <!-- /.social-auth-links -->
    </div>
    <!-- /.login-card-body -->
  </div>
</div>


{% endblock main %}